.currency-spinner {
  width: 100%;
  display: flex;
}

.currency-list {
  min-width: 500px;
  max-width: 768px;
}

.currency-full-width {
  width: 100%;
}

img {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 500px) {
  .currency-list {
    min-width: 300px;
    max-width: 500px;
  }
}
