<div *ngIf="!resourceLoaded" class="currency-spinner" fxLayout="row" fxLayoutWrap fxLayoutAlign="center center">
  <mat-progress-spinner [color]="spinner.color" [mode]="spinner.mode" [value]="spinner.value">
  </mat-progress-spinner>
</div>

<div *ngIf="resourceLoaded">
  <div class="container" fxLayout="row" fxLayoutWrap fxLayoutAlign="end center">
    <button mat-button color="accent" *ngIf="!isList" (click)="setViewList()" matTooltip="List view">
      <mat-icon>view_list</mat-icon>
      <!-- <span>List view</span> -->
    </button>
    <button mat-button color="accent" *ngIf="isList" (click)="setViewList()" matTooltip="Grid view">
      <mat-icon>view_module</mat-icon>
      <!-- <span>Grid view</span> -->
    </button>
  </div>
  <div class="container" fxLayout="row" fxLayoutWrap fxLayoutAlign="center">
    <mat-form-field class="currency-list currency-list-full-width" color="primary">
      <input matInput [(ngModel)]="currency" placeholder="Filter currency" autocomplete="off">
      <button mat-button *ngIf="currency" matSuffix mat-icon-button aria-label="Clear" (click)="currency=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <br>
  </div>

  <div *ngIf="isList">
    <div class="container" fxLayout="column" fxLayoutWrap>
      <mat-list class="currency-list">
        <h2 matSubheader>Currency Exchanges {{currency}}</h2>
        <mat-list-item class="currency-list-full-width" *ngFor="let currencyExchange of currencyExchangeFullList | currencySearch: currency">
          <img matListAvatar src={{imgPath}}{{currencyExchange.Currency.toLowerCase()}}{{imgExt}} alt="">
          <h1 matLine>{{currencyExchange.Currency}}</h1>
          <h4 matLineEnd>{{currencyExchange.Exchange | currency}}</h4>
          <p matLine>{{currencyExchange.Date | date}}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div *ngIf="!isList" class="currency-cards" fxLayout="column wrap" fxLayoutWrap fxLayoutAlign="center center">
    <mat-card class="currency-card" *ngFor="let currencyExchange of currencyExchangeFullList | currencySearch: currency">
      <mat-card-header>
        <img mat-card-avatar src={{imgPath}}{{currencyExchange.Currency.toLowerCase()}}{{imgExt}} alt="">
        <mat-card-title>{{currencyExchange.Currency}}</mat-card-title>
        <mat-card-subtitle>{{currencyExchange.Name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="img-responsive" src={{sitesImgPath}}{{currencyExchange.Currency.toLowerCase()}}{{sitesImgExt}} height="auto">
      <mat-card-content>
        <p>Cotiza:
          <b style="font-size: 1.5em">{{currencyExchange.Exchange | currency}}</b>
        </p>
        <p>{{currencyExchange.Date | date}}</p>
        <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, eaque exercitationem voluptas blanditiis error dolores,
            ut excepturi, ea quod vero obcaecati. Ducimus perferendis molestiae facilis ut, laudantium eveniet ipsam saepe.
          </p> -->
      </mat-card-content>
      <!-- <mat-card-actions>
          <button mat-button color="accent">LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>
  </div>
</div>
