<h2>Credits</h2>

<ul>
  <li>Icons made by <a href="http://www.freepik.com" title="Freepik" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
  <li>Flags made by <a href="http://flag-icon-css.lip.is/" title="Freepik" target="_blank">flag-icon-css</a>. Go to <a href="https://github.com/lipis/flag-icon-css" title="Flag icon CSS" target="_blank">Github Repository</a></li>
</ul>
